* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    color: #fff;
}
html,
body {
    height: 100%;
    width: 100%;
}

body{
  background-color: #111;
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 70px;
  text-decoration: underline;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;

}
.nav div{
  display: flex;
  align-items: center;
  gap: 40px;
}

input{
  background-color: transparent;
  padding: 10px 40px;
  
}